<a href="https://colab.research.google.com/github/Gustagoal/cursopython/blob/main/fatec_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from logging import exception
def impar_par(numero):
  if type(numero) != int:
    raise Exception('A função necessita de um valor do tipo "INT" ')
  if numero % 2 == 0:
    return "Número par"
  else:
    return "Número ímpar"


user = input("Digite um número : ")
r = impar_par(user)
print(r)

In [ ]:
from logging import exception
def impar_par(numero):
  if not isinstance(numero,int):
    raise Exception("A função necessita de um valor inteiro")
  if numero % 2 == 0:
    return "Número par"
  else:
    return "Número ímpar"


user = input("Digite um número : ")
r = impar_par(user)
print(r)

In [ ]:
x = 6 + 5 * (4 - 3 / 2 ** 2)

print(x)

22.25

In [ ]:
a = 3
b = 2
if a ** b > b ** a:
  if a % b == a // 1:
    print('UM')
else:
    print('DOIS')

In [ ]:
x = n = 0
while n <= 100:
    if n % 10 == 0:
        x += 1
    n += 1

print(x)

11

In [ ]:
x = 3
while x < 16 :
    x = x * 4

print(x)

48

In [ ]:
n = 3
p = "CPS"
# p = n + p
# n = p - n
p *= n

In [ ]:
# Math case
n = 0
while n<1:
  n = input("Digite um número")
  match n:
    case 2:
      print("Voce digitou 2 ")
    case 3:
      print("Voce digitou 3 ")
    case 4:
      print("Voce digitou 4 ")
    case 5:
      print("Voce digitou 5 ")

In [ ]:
# if inline
y = 10
x = 9
print(x) if x >= y else print(y)

10

In [ ]:
s = 123
for d in str(s):
    match d:
        case 3: print('x', end='')
        case 2: print('a', end='')
        case 1: print('y', end='')
        case _: print('z', end='')

zzz

In [ ]:
# conjuntos

l = {1,2,3,45,6,5,6,78}
print(type(l))
l = [1,2,3,45,6,5,6,78]
print(set(l))

<class 'set'>
{1, 2, 3, 5, 6, 45, 78}

In [ ]:
C = set( [2, 4, 8, 3, 9, 27, 4, 16, 64] )
for elemento in C:
    print(elemento)

64
2
3
4
8
9
16
27

In [ ]:
ssolar = { 'Mercúrio': 4879.4,
           'Vênus': 12104,
           'Terra': 12742,
           'Marte': 6779,
           'Júpiter': 139829,
           'Saturno': 116460,
           'Urano': 50724
}
ssolar['Marte'], ssolar.values(), ssolar['Neturno'] = 4924

SyntaxError: cannot assign to subscript here. Maybe you meant '==' instead of '='? (ipython-input-924048281.py, line 9)

In [ ]:
r = [ a*2 for a in ['1', '2', '3']]
print(r)

['11', '22', '33']

In [ ]:
cores = {1: 'azul', 2: 'verde', 3: 'amarelo', 4: 'vermelho'}
for n, cor in cores.items(): print(n, cor)

1 azul
2 verde
3 amarelo
4 vermelho