<a href="https://colab.research.google.com/github/Gustagoal/cursopython/blob/main/sql.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import sqlite3

conexao = sqlite3.connect("banco_teste")

cursor = conexao.cursor()

cursor.execute("CREATE TABLE teste(nome,idade,trabalho)")

cursor.execute("INSERT INTO (Gustavo,23,Analista de faturamento Jr)")

consulta = cursor.execute('SELECT * FROM teste').fetchall()

print(consulta)

OperationalError: table teste already exists